/* =============== BASIC RESET =============== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
 
}

/* =============== NAVBAR =============== */
nav{
  background: #2b2b2b;
  padding: 15px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover{
  color: #ffcd38;
}

/* =============== COMMON SECTION STYLE =============== */
section{
  padding: 40px 20px;
}

/* =============== HOME PAGE =============== */
.hero{
  background-image: url("wallpaper.jpg");
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 8px black;
}

/* =============== ABOUT PAGE =============== */
.about-container{
  display: flex;
  gap: 20px;
  align-items: center;
}

.about-container img{
  width: 50%;
  border-radius: 10px;
}

/* =============== EVENTS PAGE =============== */
.events{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.event-card{
  width: 30%;
  padding: 20px;
  background: #f5f5f5;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.event-card img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* =============== FORM PAGE =============== */
form{
  width: 350px;
  margin: auto;
  background: #373990;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

input{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button{
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  background: #2b2b2b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background: #444;
}
footer{
    text-align:center;
    padding:10px;
    background:#222;
    color:white;
}
h2{
    font-size:35px;;
}